.main_contents{
    position: relative;
    width: 100%;
    background: url("../img/catch_bg03.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.catch_wrap{
    height: -webkit-fill-available;
    position: relative;
    width: 100%;
}
.catch_wrap div.catch_copy{
    font-weight: bold;
    position: absolute;
    top:220px;
    left: 50%;
    margin-left:-847px; 
    z-index: -1;
    white-space: nowrap;
    font-size: 223px;
}
.catch_wrap div.catch_copy span{
    font-size: 100%;
    white-space: nowrap;
    border-bottom: 20px #000 solid;
    letter-spacing: 0.1em;
}
.catch{
	width: 100%;
	background-image: url("../img/catch_bg02.png");
	background-size: contain;
  background-position: center 30%;
  background-repeat: no-repeat;
  z-index: 0;
  height: -webkit-fill-available;
}
.catch_inner_wrap{
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}
.catch_inner{
    padding-top: 130px;
}
.service_img{
	margin-bottom: 20px;
}
.service_img img{
	display: initial;
}
.catch_inner .catch_txt{
    font-weight: bolder;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.08em;
    margin-bottom: 140px;
    text-shadow: 1px 2px 0px #fff;
    text-align: left;
    margin-top: 120px;
    padding: 40px;
    background: #fff;
    opacity: 0.75;
    width: 55%;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}
.catch_inner .catch_txt span{
    color: #e96e4e;
    font-size: 36px;
}


section.scroll_transition {

}
section.scroll_transition::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
}

section.scroll_transition a {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  color: #fff;
  margin-left: -22px;
  font-size: 1.1rem;
}

.scroll_transition a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.scroll_transition a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.scroll_transition a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 7px;
  height: 7px;
  margin: -5px 0 0 -2px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  box-sizing: border-box;
}

.scroll_transition a {
  padding-top: 50px;
}
.scroll_transition a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.scroll_transition a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.scroll_transition  {
  padding-top: 60px;
}
.scroll_transition a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/*---------------------------------------------------------------*\
$1500px
\*---------------------------------------------------------------*/
@media screen and (max-width: 1500px) {
.catch_wrap div.catch_copy{
    margin-left: -695px;
    font-size: 180px;
    top: 250px;
}
}
/*---------------------------------------------------------------*\
$1280px
\*---------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
.catch_wrap div.catch_copy{
    margin-left: -585px;
    font-size: 150px;
    top: 280px;
}
.catch{
    width: 80%;
    z-index: 0;
    margin-left: 10%;
}

}
/*---------------------------------------------------------------*\
$1020px
\*---------------------------------------------------------------*/

@media screen and (max-width: 1020px) {
.catch_wrap{
    
}
.catch{
    
}
.catch_wrap div.catch_copy{
    top: 240px;
}
.catch_inner_wrap{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.catch_wrap div.catch_copy{
    margin-left: -460px;
    font-size: 120px;
}

}
/*---------------------------------------------------------------*\
$960px
\*---------------------------------------------------------------*/

@media screen and (max-width: 960px) {
    .catch_wrap{
    
}
    .catch_wrap div.catch_copy{
    top: 140px;
}
    .catch{
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -380px;
    font-size: 100px;
}
.catch_wrap div.catch_copy span{
    border-bottom: 10px #000 solid;
}

}
/*---------------------------------------------------------------*\
$768px
\*---------------------------------------------------------------*/

@media screen and (max-width: 768px) {

    .catch_wrap{
    
}
    .catch_wrap div.catch_copy{
    top: 90px;
}
    .catch{
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -270px;
    font-size: 70px;
}

}
/*---------------------------------------------------------------*\
$480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {
    .catch_wrap{
   
}
    .catch_wrap div.catch_copy{
    top: 90px;
}
    .catch{
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -190px;
    font-size: 50px;
}

}

/*---------------------------------------------------------------*\
$400px
\*---------------------------------------------------------------*/

@media screen and (max-width: 400px) {
     .catch_wrap{
    
}
    .catch_wrap div.catch_copy{
    top: 100px;
}
    .catch{
      
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -165px;
    font-size: 42px;
}

}

/*---------------------------------------------------------------*\
$320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {
     .catch_wrap{
   
}
    .catch_wrap div.catch_copy{
    top: 100px;
}
    .catch{
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -150px;
    font-size: 38px;
}

}