.main_contents{
    position: relative;
    width: 100%;
    background: url("../img/catch_bg03.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.catch_wrap{
}
.catch_wrap div.catch_copy{
    font-weight: bold;
    position: absolute;
    top:220px;
    left: 50%;
    margin-left:-847px; 
    z-index: -1;
    white-space: nowrap;
    font-size: 223px;
}
.catch_wrap div.catch_copy span{
    font-size: 100%;
    white-space: nowrap;
    border-bottom: 20px #000 solid;
    letter-spacing: 0.1em;
}
.catch{
	width: 100%;
	height: 700px;
	background: url("../img/catch_bg02.png");
	background-size: contain;
  background-position: center top 50px;
  background-repeat: no-repeat;
  z-index: 0;
}
.catch_inner_wrap{
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}
.catch_inner{
    padding-top: 130px;
}
.service_img{
	margin-bottom: 20px;
}
.service_img img{
	display: initial;
}
.catch_inner .catch_txt{
    font-weight: bolder;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.08em;
    margin-bottom: 140px;
    text-shadow: 1px 2px 0px #fff;
    text-align: left;
    margin-top: 120px;
    padding: 40px;
    background: #fff;
    opacity: 0.75;
    width: 55%;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}
.catch_inner .catch_txt span{
    color: #e96e4e;
    font-size: 36px;
}
/*---------------------------------------------------------------*\
$1500px
\*---------------------------------------------------------------*/
@media screen and (max-width: 1500px) {
.catch_wrap div.catch_copy{
    margin-left: -695px;
    font-size: 180px;
    top: 250px;
}
}
/*---------------------------------------------------------------*\
$1280px
\*---------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
.catch_wrap div.catch_copy{
    margin-left: -585px;
    font-size: 150px;
    top: 280px;
}
.catch{
    width: 80%;
    height: 400px;
    background: url("../img/catch_bg02.png");
    background-size: contain;
    background-position: center top 50px;
    z-index: 0;
    background-repeat: no-repeat;
    margin-left: 10%;
}

}
/*---------------------------------------------------------------*\
$1020px
\*---------------------------------------------------------------*/

@media screen and (max-width: 1020px) {
.catch_wrap{
    
}
.catch{
    
}
.catch_wrap div.catch_copy{
    top: 240px;
}
.catch_inner_wrap{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.catch_wrap div.catch_copy{
    margin-left: -460px;
    font-size: 120px;
}

}
/*---------------------------------------------------------------*\
$960px
\*---------------------------------------------------------------*/

@media screen and (max-width: 960px) {
    .catch_wrap{
    
}
    .catch_wrap div.catch_copy{
    top: 140px;
}
    .catch{
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -380px;
    font-size: 100px;
}
.catch_wrap div.catch_copy span{
    border-bottom: 10px #000 solid;
}

}
/*---------------------------------------------------------------*\
$768px
\*---------------------------------------------------------------*/

@media screen and (max-width: 768px) {

    .catch_wrap{
    
}
    .catch_wrap div.catch_copy{
    top: 90px;
}
    .catch{
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -270px;
    font-size: 70px;
}

}
/*---------------------------------------------------------------*\
$480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {
    .catch_wrap{
   
}
    .catch_wrap div.catch_copy{
    top: 90px;
}
    .catch{
        height: 170px;
        width: 100%;
        margin-left: 0%;
        background-position: center top 15px;
    }
.catch_wrap div.catch_copy{
    margin-left: -190px;
    font-size: 50px;
}

}

/*---------------------------------------------------------------*\
$400px
\*---------------------------------------------------------------*/

@media screen and (max-width: 400px) {
     .catch_wrap{
    
}
    .catch_wrap div.catch_copy{
    top: 100px;
}
    .catch{
        height: 160px;
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -165px;
    font-size: 42px;
}

}

/*---------------------------------------------------------------*\
$320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {
     .catch_wrap{
   
}
    .catch_wrap div.catch_copy{
    top: 100px;
}
    .catch{
        height: 140px;
        width: 100%;
        margin-left: 0%;
    }
.catch_wrap div.catch_copy{
    margin-left: -150px;
    font-size: 38px;
}

}