.mobile_menu {
  display: none;
}

/*---------------------------------------------------------------*\
$960px
\*---------------------------------------------------------------*/

@media screen and (max-width: 960px) {
  .noscroll {
    overflow: hidden;
  }
  /* menu triger */
  .mobile_menu {
    z-index: 999;
    position: fixed;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 5px;
    right: 2%;
    width: 50px;
    height: 45px;
}
  }
  .triger_wrap {
    height: 24px;
    width: 35px;
    margin: 0 auto;
  }
  .menu-trigger,
  .menu-trigger span {
    display: block;
    transition: all .4s;
    box-sizing: border-box;
    z-index: 99999;
  }
  .menu-trigger {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 99999;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 10px;
    left: 0px;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 2px;
  }
  /* menu inside  */
  .mobilenav {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #03003d;
  }
  .mobilenav .wrapper_contents_mobilenav {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .mobilenav ul.menu_main_contents {
    margin: 0px auto;
    width: 70%;
  }
  .mobilenav ul.menu_main_contents li{

  }
  .mobilenav ul.menu_main_contents li a{
    color: #fff;
    display: block;
    padding: 15px 0;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Francois One', sans-serif;
  }
  .mobilenav ul.menu_main_contents li.tel{
    margin-top: 15px;
  }
 .mobilenav ul.menu_main_contents li.tel a{
    background: #fff;
    color: #e3594c;
    text-align: center;
    margin: 0 0 15px 0;
    border-radius: 3px;
    padding: 7px 0;
  }
.mobilenav ul.menu_main_contents li.tel a span{
   font-size: 11px;
   color: #e3594c;
   display: block;
  }
  .mobilenav ul.menu_main_contents li.inquiry{
  margin-top: 15px;
  }
 .mobilenav ul.menu_main_contents li.inquiry a.button_head{
    color: #e3584c;
    background: #fff;
  }
.mobilenav ul.menu_main_contents li.inquiry a.button_head:hover{
    background: #f7f7f7;
}
  .mobilenav li.each_main_contents {
    text-align: left;
    margin-bottom: 32px;
  }
  .mobilenav li.each_main_contents:last-child {
    margin-bottom: 0px;
  }
  .mobilenav li.each_main_contents a {
    display: inline-block;
  }
  .mobilenav .sns_bottom_sp {
    width: 70%;
    margin: 40px auto 0;
  }
  .mobilenav .sns_bottom_sp ul {
    display: -webkit-flex;
    display: flex;
  }
  .mobilenav .sns_bottom_sp ul li {
     margin-right: 50px;
  }
  .mobilenav .sns_bottom_sp ul li:last-child {
    margin-right: 0px;
  }
  .mobilenav .sns_bottom_sp ul li a {
    display: block;
  }
  .mobilenav .sns_bottom_sp ul li a i {
    font-size: 32px;
    color: #fff;
  }

    /* animation */
    .movmobb1 .active span:nth-of-type(1) {
        -webkit-transform: translateY(12px) rotate(-45deg);
        transform: translateY(12px) rotate(-45deg);
        background: #fff;
    }
    .movmobb1 .active span:nth-of-type(2) {
        opacity: 0;
    }
    .movmobb1 .active span:nth-of-type(3) {
        -webkit-transform: translateY(-8px) rotate(45deg);
        transform: translateY(-8px) rotate(45deg);
        background: #fff;
    }
    .movmobb2 .active span:nth-of-type(1) {
        -webkit-transform: translateY(12px) rotate(-315deg);
        transform: translateY(12px) rotate(-315deg);
    }
    .movmobb2 .active span:nth-of-type(2) {
        opacity: 0;
    }
    .movmobb2 .active span:nth-of-type(3) {
        -webkit-transform: translateY(-9px) rotate(315deg);
        transform: translateY(-9px) rotate(315deg);
    }
    .movmobb3 .active {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .movmobb3 .active span:nth-of-type(1) {
        -webkit-transform: translateY(11px) rotate(-45deg);
        transform: translateY(11px) rotate(-45deg);
    }
    .movmobb3 .active span:nth-of-type(2) {
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
    .movmobb3 .active span:nth-of-type(3) {
        opacity: 0;
    }
    .movmobb4 span:nth-of-type(3),
    .movmobb4 .active span:nth-of-type(3) {
        transition: none;
    }
    .movmobb4 .active {
        -webkit-transform: rotateX(720deg);
        transform: rotateX(720deg);
    }
    .movmobb4 .active span:nth-of-type(1) {
        -webkit-transform: translateY(11px) rotate(-45deg);
        transform: translateY(11px) rotate(-45deg);
    }
    .movmobb4 .active span:nth-of-type(2) {
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
    .movmobb4 .active span:nth-of-type(3) {
        opacity: 0;
    }
    .movmobb5 span:nth-of-type(1) {
        -webkit-animation: menu-bar01 .75s forwards;
        animation: menu-bar01 .75s forwards;
    }
    @-webkit-keyframes menu-bar01 {
        0% {
            -webkit-transform: translateY(12px) rotate(45deg);
        }
        50% {
            -webkit-transform: translateY(12px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(0) rotate(0);
        }
    }
    @keyframes menu-bar01 {
        0% {
            transform: translateY(12px) rotate(45deg);
        }
        50% {
            transform: translateY(12px) rotate(0);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }
    .movmobb5 span:nth-of-type(2) {
        transition: all .25s .25s;
        opacity: 1;
    }
    .movmobb5 span:nth-of-type(3) {
        -webkit-animation: menu-bar02 .75s forwards;
        animation: menu-bar02 .75s forwards;
    }
    @-webkit-keyframes menu-bar02 {
        0% {
            -webkit-transform: translateY(-12px) rotate(-45deg);
        }
        50% {
            -webkit-transform: translateY(-12px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(0) rotate(0);
        }
    }
    @keyframes menu-bar02 {
        0% {
            transform: translateY(-12px) rotate(-45deg);
        }
        50% {
            transform: translateY(-12px) rotate(0);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }
    .movmobb5 .active span:nth-of-type(1) {
        -webkit-animation: active-menu-bar01 .75s forwards;
        animation: active-menu-bar01 .75s forwards;
    }
    @-webkit-keyframes active-menu-bar01 {
        0% {
            -webkit-transform: translateY(0) rotate(0);
        }
        50% {
            -webkit-transform: translateY(12px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(12px) rotate(45deg);
        }
    }
    @keyframes active-menu-bar01 {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(12px) rotate(0);
        }
        100% {
            transform: translateY(12px) rotate(45deg);
        }
    }
    .movmobb5 .active span:nth-of-type(2) {
        opacity: 0;
    }
    .movmobb5 .active span:nth-of-type(3) {
        -webkit-animation: active-menu-bar03 .75s forwards;
        animation: active-menu-bar03 .75s forwards;
    }
    @-webkit-keyframes active-menu-bar03 {
        0% {
            -webkit-transform: translateY(0) rotate(0);
        }
        50% {
            -webkit-transform: translateY(-10px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(-10px) rotate(-45deg);
        }
    }
    @keyframes active-menu-bar03 {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(-10px) rotate(0);
        }
        100% {
            transform: translateY(-10px) rotate(-45deg);
        }
    }
    .movmobb6 .active span:nth-of-type(1) {
        -webkit-transform: translateY(8px) rotate(-45deg);
        transform: translateY(8px) rotate(-45deg);
    }
    .movmobb6 .active span:nth-of-type(2) {
        left: 200%;
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation: active-menu-bar02 .8s forwards;
        animation: active-menu-bar02 .8s forwards;
    }
    @-webkit-keyframes active-menu-bar02 {
        100% {
            height: 0;
        }
    }
    @keyframes active-menu-bar02 {
        100% {
            height: 0;
        }
    }
    .movmobb6 .active span:nth-of-type(3) {
        -webkit-transform: translateY(-13px) rotate(45deg);
        transform: translateY(-13px) rotate(45deg);
    }
}


/*---------------------------------------------------------------*\
$480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {
    .mobilenav .title_en_menu {
        font-size: 34px;
        margin-right: 18px;
    }
    .mobilenav .title_jp_menu {
        font-size: 12px;
    }
    .mobilenav li.each_main_contents {
        margin-bottom: 16px;
    }
    .mobilenav .sns_bottom_sp ul li {
        margin-right: 30px;
    }
    .mobilenav .sns_bottom_sp ul li a i {
        font-size: 24px;
    }
    .mobilenav .title_jp_menu {
        margin-top: 0px;
    }
}

/*---------------------------------------------------------------*\
$320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {
    .mobilenav .title_en_menu {
        font-size: 31px;
    }
}